@model SpottyTry2.Models.SpotList

<div>
    <h4>SpotList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
</div>
<table class="table table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th>Artist</th>
        <th>Track name</th>
        <th>Length</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model.Tracks.Items)
    {
        <tr>
            <td>@m.Track.Artists.First().Name</td>
            <td>@m.Track.Name</td>
            <td>@m.Track.Duration_Ms</td>
        </tr> 
    }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
