@model SpottyTry2.Models.AdvTrackCalc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>
                (Artist)
            </th>

            <th>
                (Track)
            </th>

            <th>
                (Danceability)
            </th>

            <th>
                (Energy)
            </th>

            <th>
                (Key)
            </th>

            <th>
                (Mode)
            </th>

            <th>
                (Loudness)
            </th>

            <th>
                (Speechiness)
            </th>

            <th>
                (Acousticness)
            </th>

            <th>
                (Instrumentalness)
            </th>

            <th>
                (Liveness)
            </th>

            <th>
                (Valence)
            </th>

            <th>
                (Tempo)
            </th>

            <th>
                (Duration_ms)
            </th>

            <th>
                (Time_signature)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model.Tracks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => track.Artist)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Danceability)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Energy)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Key)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Mode)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Loudness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Speechiness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Acousticness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Instrumentalness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Liveness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Valence)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Tempo)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Duration_ms)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Time_signature)
                </td>
            </tr>

        }
        @using (Html.BeginForm("NewAdvPlaylist", "Home"))
        {
    <tr>
        @Html.AntiForgeryToken()

        <td><b>Average</b></td>
        <td><button type="submit">Average</button></td>
        <td>@Html.TextBoxFor(model => Model.AvgDance, Model.AvgDance.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgEnergy, Model.AvgEnergy.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgKey, Model.AvgKey.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgMode, Model.AvgMode.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgLoudness, Model.AvgLoudness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgSpeechiness, Model.AvgSpeechiness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgAcousticness, Model.AvgAcousticness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgInstrumentalness, Model.AvgInstrumentalness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgLiveness, Model.AvgLiveness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgValence, Model.AvgValence.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgTempo, Model.AvgTempo.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.AvgDuration, Model.AvgDuration.ToString(), null)</td>

    </tr>
    <tr>
        <td>Std Deviation</td>
        <td></td>
        <td>@Html.TextBoxFor(model => Model.StdDance, Model.StdDance.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdEnergy, Model.StdEnergy.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdKey, Model.StdKey.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdMode, Model.StdMode.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdLoudness, Model.StdLoudness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdSpeechiness, Model.StdSpeechiness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdAcousticness, Model.StdAcousticness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdInstrumentalness, Model.StdInstrumentalness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdLiveness, Model.StdLiveness.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdValence, Model.StdValence.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdTempo, Model.StdTempo.ToString(), null)</td>
        <td>@Html.TextBoxFor(model => Model.StdDuration, Model.StdDuration.ToString(), null)</td>
    </tr>
            <tr>
                <td>Most common Genre</td>
                <td></td>
                @foreach (var g in Model.GenreCount)
                {
                    <td>@Html.TextBoxFor(model => Model.GenreList, g.Key.ToString(), null)</td>
                }
            </tr>
        }

    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
