@model SpottyTry2.Models.AdvTrackCalc


    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    (Artist)
                </th>

                <th>
                    (Track)
                </th>

                <th>
                    (Danceability)
                </th>

                <th>
                    (Energy)
                </th>

                <th>
                    (Key)
                </th>

                <th>
                    (Mode)
                </th>

                <th>
                    (Loudness)
                </th>

                <th>
                    (Speechiness)
                </th>

                <th>
                    (Acousticness)
                </th>

                <th>
                    (Instrumentalness)
                </th>

                <th>
                    (Liveness)
                </th>

                <th>
                    (Valence)
                </th>

                <th>
                    (Tempo)
                </th>

                <th>
                    (Duration_ms)
                </th>

                <th>
                    (Time_signature)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model.Tracks)
            {
                <tr>
                <td>
                    @Html.DisplayFor(model => track.Artist)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Danceability)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Energy)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Key)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Mode)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Loudness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Speechiness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Acousticness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Instrumentalness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Liveness)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Valence)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Tempo)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Duration_ms)
                </td>

                <td>
                    @Html.DisplayFor(model => track.Time_signature)
                </td>
            </tr>

        }
        <tr>
            <td><b>Average</b></td>
            <td></td>
            <td>@Model.AvgDance</td>
            <td>@Model.AvgEnergy</td>
            <td>@Model.AvgKey</td>
            <td>@Model.AvgMode</td>
            <td>@Model.AvgLoudness</td>
            <td>@Model.AvgSpeechiness</td>
            <td>@Model.AvgAcousticness</td>
            <td>@Model.AvgInstrumentalness</td>
            <td>@Model.AvgLiveness</td>
            <td>@Model.AvgValence</td>
            <td>@Model.AvgTempo</td>
            <td>@Model.AvgDuration</td>
        </tr>
        <tr>
            <td>Std Deviation</td>
            <td></td>
            <td>@Model.StdDance</td>
            <td>@Model.StdEnergy</td>
            <td>@Model.StdKey</td>
            <td>@Model.StdMode</td>
            <td>@Model.StdLoudness</td>
            <td>@Model.StdSpeechiness</td>
            <td>@Model.StdAcousticness</td>
            <td>@Model.StdInstrumentalness</td>
            <td>@Model.StdLiveness</td>
            <td>@Model.StdValence</td>
            <td>@Model.StdTempo</td>
            <td>@Model.StdDuration</td>
        </tr>
            
            </tbody>
        </table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
