@model SpottyTry2.Models.SpotList
<h2>ViewPlaylist</h2>
<div>
    <h4>SpotList</h4>
    <hr />
    <div class="caption">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Track name</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Tracks.Items)
        {
            <tr>
                <td>@m.Track.Artists.FirstOrDefault().Name</td>
                <td>@m.Track.Name</td>
                <td>@m.Track.Duration_Ms</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to start", "Index")
</p>